@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
.app {
  display: flex;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* entire scrollbar itself */
::-webkit-scrollbar {
  width: 10px;
}
/* scrollbar that you pushe to movie it */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
/* scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);
}
.css-1kt8ah5-MuiDataGrid-root {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  position: relative;
  /* border: 1px solid rgba(81, 81, 81, 1); */
  border-radius: 4px;
  color: #fff;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.43;
  outline: none;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
